*

!.vscode/
!.vscode/tasks.json
!bash-commands
!bash-util
!docker/
!docker/server--theia/
!docker/server--theia/rootfs/
!docker/server--theia/rootfs/**
!docker/server--theia/rootfs-build/
!docker/server--theia/rootfs-build/**
!docker/server--theia/default.docker
!docker-compose/
!docker-compose/server--theia/
!docker-compose/server--theia/default.docker-compose
!.gitignore
!.gitmodules
!host.env
!LICENCE
!README.md
